

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #c6c6c6;
}

.titulo {
    color: black;
    text-align: center;
    padding: 30px;
}

.menu {
    display: flex;
    gap: 20px;
    margin: 10px;
    justify-content: center;
    margin-bottom: 50px
}

.menu > a {
    text-decoration: none;
    background-color: #e7e7e7;
    border: 1px solid #e7e7e7;
    color: black;
    padding: 25px;
    margin: 0;
    text-transform: uppercase;
    border-radius: 4px;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    background-color: #e7e7e7;
    margin: auto;
    max-width: 1000px;
    border-radius: 3px;
}
   
.info {
    display: grid;
    place-items: end;
    place-self: center;
}

.descricao {
    font-size: 25px;
    padding: 20px;
    text-align: right;
}

.foto{
    max-width: 100%;
 }

 .comprar {
    background-color: #ee2211;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
 }

 /* INICIO DA SEGUNDA PARTE */

 .sub2 {
    display: flex;
    align-self: center;
    height: 100%;
    pad: 20px;
 }
 .transparente {
    font-size: 64px;
    background-color: #c6c6c6;
    margin: 0;
    text-align: center;
 }
 
.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.conteudo-texto {
  font-size: 20px;
  margin: 0;
}

.alinhamento {
    margin-bottom: 25px;
}

.fim {
    padding: 20px;
    background-color: #e7e7e7;
    margin-top: 20px;
    text-align: center;
    font-size: 23px;
}
 