body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0rem;
    background-color: #f7f7f7;
    display: grid;
    gap: 3.75rem;
    justify-items: center;
    margin-top: 3.75rem;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

p, h1, h2, h3 {
    margin: 0rem;
}

p{
    font-size: 1.25rem;
    line-height: 1.3rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: center;
}

.menu a {
    background-color: #ffffff;
    padding: 1rem 1.9rem;
    border-radius: 0.2rem;
    color: black;
    text-transform: uppercase;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 62.5rem;
}

.introducao {
    background-color: white;
    padding: 2.5rem;
    text-align: right;
    position: relative;
    display: grid;
    gap: 1.25rem;
    align-content: center;
    justify-items: end;
}

.detalhe {
    width: 3.75rem;
    height: 0,25rem;
    background-color: #ee2211;
    display: inline-block;
    position: absolute;
    top: 1.9rem;
    right: -1.9rem;
}

.botao {
    background-color: #ee2211;
    color: #fff;
    padding: 0.9rem 1.9rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
}

.subtitulo {
    font-size: 4rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    text-align: right;
    padding:  2.5rem;
    align-self: center;
}

.vantagens {
    background: #fff;
    padding: 2.5rem;
}

.vantagens-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.62em 1.25em;
    padding: 1.25em;
}

.vantagens-item p {
    grid-column: 2;
}

.rodape {
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 2.5rem;
    box-sizing: border-box;
}

.menu-lista:hover {
    outline: 2px solid #ee2211;
    margin: 0;
}

.botao:hover {
    background-color: #9b190e;
}

.vantagens-item:hover {
    border-left: 4px solid #ee2211;
}

.vantagens-item:nth-child(odd) {
    background-color: #f7f7f7;
    margin: 0;

}

.subtitulo {
    background-image: url(onda.svg);
}